@charset "UTF-8";
.segments{
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}
.activities{
	overflow: scroll;
	height: 400px;
	width: 100%;
	padding-left: 10px;
}
.routes{
	height:510px;
	width: 80%;
	border-style: solid;
	border-color: limegreen;
	border-width: 3px;
	padding-left: 10px;
}