@charset "UTF-8";
label{
	width: 225px;
	margin-left: 10px;
}
input{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;'
}
.form, .results{
	border-color: limegreen;
	border-style: solid;
	border-width: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
select{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.button{
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 10px;
}
.title{
	text-decoration: underline;
}
